.bannerContainer {
    margin: 0;
    padding: 40px 120px;
    position: relative;
}

.bannerContainer p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
}

.frame1{
    position: absolute;
    left: 230px;
    top: 217px;
}

.frame2{
    position: absolute;
    right: 228.73px;
    top: 264px;
}

.frame3{
    position: absolute;
    right: 316px;
    top: 185.01px;
}

.bannerTitle {
    font-weight: 700;
    font-family: "poppins";
    font-size: 50px;
    line-height: 75px;
    align-items: center;
    padding: 37px 119px 43px 118px;
}

.subLogo {
    position: absolute;
    right: 160px;
}

.bannerBtn {
    padding: 17px 30px 16px 28px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    background-color: #00308F;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin-bottom: 27px;
}

.bottomContainer{
    height: 594px;
    position: relative;
}

.bannerImgContainer {
    background-color: #00308F;
    height: 264px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.bannerImg {
    border-radius: 10px;
    position: absolute;
    bottom: 120px;
    left: 120px;
}